html, body {
    height: 100%;
    box-sizing: border-box;
}
body {
    background-color: #141419;
    color: #ffffff;
}
.wrapper {
    padding: 70px 0 80px;
    position: relative;
    min-height: 100%;
}
.navbar-brand img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
}
h1 {
    padding-bottom: 15px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #007bff;
    color: #f2f1ff;
}
.container-login {
    text-align: center;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    margin-top: -70px;
}
.container-login .alert {
    position: absolute;
    top: 60px;
    left: 15px;
    right: 15px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-group {
    margin-bottom: 0px;
}
.form-signin div input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin div input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.breadcrumb {
    background: #1b1e21;
}
.list-group-tasks {
    margin-top: 10px;
    margin-bottom: 20px;
}
.table-dark a {
    color: #5aaaff;
}
.table-dark a:hover {
    color: #ffffff;
}
.list-group-item-dark {
    color: #52aaff;
    background-color: #343a40;
}
.list-group-item-dark.list-group-item-action:hover {
    color: #f8f9fa;
    background-color: #343a40;
}
.list-group-item-dark.list-group-item-action:focus, .list-group-item-dark.list-group-item-action.active {
    color: #f8f9fa;
    background-color: #007bff;
    border-color: #2d3338;
}
.page-link {
    color: #52aaff;
    background-color: #343a40;
    border: 1px solid #2d3338;
}
.page-link:hover {
    color: #f8f9fa;
    background-color: #343a40;
    border: 1px solid #2d3338;
}
.page-item.disabled .page-link {
    color: #52aaff;
    background-color: #141419;
    border: 1px solid #2d3338;
}
.label-menu {
    margin-top: 15px;
}
.task-control {
    color: #5aaaff;
    background-color: #343a40;
    border: 1px solid #343a40;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.task-control:hover, .task-control:focus  {
    color: #f8f9fa;
    background-color: #343a40;
    border: 1px solid #343a40;
}
.task-control::-ms-expand {
    display: none;
}
.task-control:focus {
    outline: none;
}
.site-sidebar {
    margin-bottom: 10px;
}
